//放置全局性公共的样式 @import 结尾不能缺少;，不然要报错
//sass @import指令将文件包含在css中，不需要额外的HTTP请求
@import "./sassConfig.scss";
@import "./normalize.scss";

//全局样式
body{
	background-color: #001529;
}
.inline-button{
  button + button {//找到同级的下一个Button,设置它的左外边距
    margin-left: 10px;
  }
}

.table-wrap{
  padding-top: 30px;
}

//覆盖antd样式
.ant-layout-content{
  min-height: auto;
}